@charset "utf-8";
/* CSS Document */
body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#cover{
	width:100%;
	height:100%;
	position:fixed;
	z-index:5;
	background:rgba(51,51,51,0.4);
	top:0px;
	left:0px;
	overflow:auto;
	}
#coverr{
	width:70%;
	min-width:300px;
	max-width:800px;
	height:70%;
	min-height:300px;
	position:absolute;
	z-index:5;
	background:#ffffff;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	overflow:auto;
}
#main{
	width:1000px;
	margin:10px auto 10px auto;
	border:#EE7728 1px solid;
	position:relative;
	background:#ffffff;
}
.ti{
	width:130px;
	height:130px;
	border-radius:50%;
	background-size:cover;
	background-repeat:no-repeat;
}
.dbor{
	border:#EE7728 double 3px;
	margin:1px;
	padding:2px 10px 2px 10px;
}
.t{
	font-weight:800;
	color: blue;
	font-weight:bold;
	display:block;
	text-align:center;
	padding:10px 1px 10px 1px;
}
.botli{
	border-bottom:#333 1px solid;
}
.mainmu{
	position:relative;
	border-radius:10px;
	background:url(../icon/menu3.fw.png) center no-repeat;
	background-size:cover;
	line-height:30px;
	padding:2px 10px 2px 10px;
	margin:7px 1px 7px 1px;
	height: 35px;
}
.mainmu:hover{
	background:url(../icon/menu.fw.png) center no-repeat;
	background-size:cover;
}
.mainmu2{
	position:relative;
	border-radius:10px;
	background:url(../icon/menu3.fw.png) center no-repeat;
	background-size:100% 100%;
	line-height:30px;
	padding:2px 10px 2px 10px;
	margin:7px 1px 7px 1px;
	z-index: 99;
}
.mainmu2:hover{
	background:url(../icon/menu4.fw.png) center no-repeat;
	background-size:cover;
}
#lf{
	height:540px;
	width:21%;
	display:inline-block;
}
#menuput{
	width:82%;
	height:88%;
	position:relative;
	padding:5px;
	display:block;
	margin: 6px;
}
.di{
	display:inline-block;
}
.ad{
	margin:1px;
	padding:2px 10px 2px 10px;
}
.cent{
	text-align:center;
}
input,button{
	border:#999 1px solid;
	border-radius:3px;
	background:#EFEFEF;
	padding:5px;
	margin:3px;
}
input:active,button:active{
	background:#E6E6E6;
}
input[type=text],input[type=password]{
	width:150px;
}
input:focus,button:focus{
	box-shadow:#09C 0px 0px 3px .3px;
}
.yel td{
	background:rgb(139, 151, 216);
	text-align:center;
}
.trce td{
	text-align:center;
}
.bl{
	color:#0CF;
	cursor:pointer;
	text-decoration:none;
}
.im{
	width:333px;
	height:250px;
	text-align:center;
	margin:2px auto;
	flex-wrap: wrap;
}
.im img{
	width:250px;
	height:200px;
	border:3px solid #F3DA49;
}
.mw {
	position: absolute;
	top: 25px;
	left: 100px;
	z-index: 99;
	display: none;
	width: 90%;
}
.mw a {
	display: block;
}
.one {
	display:flex;
	flex-direction:column;
	align-items: center;
	background-color: rgb(175, 226, 233);
	font-size: 24px;
	font-weight:bold;
}
.two {
	width: 500px;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.three {
	width: 333px;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.area {
	width: 1000px;
	font-size: 18px;
	text-align: left;
}
.block {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.container {
	width: 1000px;
	border:3px solid #ff0000;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: center;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	background:#ffffff;
}
.item {
	width: 1000px;
	align-items: center;
}
.item1 {
	width: 500px;
}
h1 {
	color: darkorange;
	font-weight:bold;
}
h2 {
	color: green;
	font-weight:bold;
}
h3 {
	color: orchid;
	font-weight:bold;
}